* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;

  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: var(--body-background);
  font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
}

span {
  color: var(--color-logo);
}

/* PRIMEIRA PÁGINA */

.main1 {
  height: 100%;
  width: 100vw;

  background-image: url('assets/background.svg');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 52px 81px 0px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
}

#header ul {
  width: 341px;

  display: flex;
  justify-content: space-between;
}

#header ul li {
  list-style-type: none;
}

#header ul li a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

#header #button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;

  background-color: var(--text-color);

  border: none;
}

#header #button:hover {
  cursor: pointer;
}

#header #button img {
  margin-right: 15px;
}

#header #button p {
  color: var(--black-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

#main-content1 {
  display: flex;
  justify-content: space-between;

  margin-top: 97px;

  height: 246px;
}

#main-content1 #main-description1 #description p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

#main-content1 #main-description1 #avatars {
  margin-top: 55px;
  display: flex;
}

#main-content1 #main-description1 #avatars #texts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#main-content1 #main-description1 #avatars p {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  margin-left: 6px;
}

#main-content1 #main-description1 #avatars #main1-text1 {
  font-weight: 700;
}

#main-content1 #main-description2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
}

#main-content1 #main-description2 p {
  color: var(--text-color);
}

#main-content1 #main-description3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-images {
  margin-top: 100px;
}

#main-images #row1,
#row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#main-images #row2 {
  margin-top: 60px;
}

#main-images image {
  width: 307px;
  height: 197px;
}

/* SEGUNDA PÁGINA */
.main-2 {
  height: 660px;
  width: 100vw;
  display: flex;
  border-bottom: 1px solid var(--subtitle-color);
}

#number-text div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 280px;
}

#number-text .number-text1 {
  color: var(--text-color);
  font-weight: 700;
  font-size: 50px;

  margin-top: 70px;
}

#number-text .number-text2 {
  color: var(--subtitle-color);
  font-size: 20px;

  margin-top: 8px;
}

#main-2-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--subtitle-color);
}

#description2 {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 330px;
  padding: 70px 138px 71px 68px;
}

#description2 #text-1 {
  color: var(--text-color);
  font-size: 18px;

  padding: 10px;

  line-height: 22px;
}

#description2 #text-2 {
  color: var(--text-color);
  font-size: 18px;

  margin: 70px;
  padding: 10px;

  line-height: 22px;
}

#description2 #text-1 span {
  text-decoration: underline;
}

#description2 #text-2 span {
  text-decoration: underline;
}

#description2 #text-1 :nth-child(2) {
  margin-top: 63px;
  text-decoration: underline;
}

#description2 #text-2 :nth-child(2) {
  margin-top: 63px;
  text-decoration: underline;
}

#image-banner {
  flex: 1;
}

#image-banner img {
}

/* TERCEIRA PAGINA */
.main3 {
  height: 937px;
  width: 1266px;

  display: flex;
}

#first-text {
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;

  margin: 150px;
}

#first-text p {
  color: var(--text-color);
}

#astrounautas1-3 {
}

.astrounautas1-3 #austronauta1 p {
  color: var(--text-color);
}

.astrounautas1-3 #austronauta1 subtitle {
  color: var(--subtitle-color);
}
