* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

:root {
  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;

  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('assets/background.svg');
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin-top: 57px;
}

/* LOGO */
.logo {
  font-weight: bold;
  font-size: 40px;

  margin: 82px;

  color: blueviolet; /* cores ilustrativasssss */
  /* color: var(--text-color); */
}

span {
  color: var(--color-logo);
}

/* MENU */
nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  color: var(--text-color);

  margin-top: 57px;
}

nav ul li {
  text-align: center;
  list-style: none;
}

.grid {
  color: rgb(238, 20, 122); /* cores ilustrativasssss */

  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.title {
  margin: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.grid-2 {
  color: crimson;

  display: flex;
  align-items: center;
  justify-content: center;

  list-style: none;
}

.title-box {
  margin: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
} */
